html,body{
    padding: 0;
    margin: 0;
    background-color: #EEF9FF;
    color: #5B5B5B;
    font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic',sans-serif;
    text-align: center;
}

header{
    width: 100%;
    background-color: #AAD6EC;
    font-size: 30px;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
}
main{
    padding: 10px;
    /* background-color: white; */
    max-width: 70%;
    margin: auto;
}
.container{
    background-color: #FC9D9D;
    position: relative;
    padding: 15px;
}
.ptitle{
    font-weight: bold;
    font-size: 1.5em;
}
.ptitle::after{
    width: 100%;
    height: 10px;
    background-color: #5B5B5B;
}
.content{
    position: relative;
    margin: auto;
    max-width: 90%;
    padding: 30px;
    background-color: white;
    text-align: left;
    box-sizing: border-box;
    border: 1px solid lightslategrey;
}
.uri_input{
    position: relative;
    top: 5px;
}
input{
    text-indent: 1em;
    height: 1.5em;
    border: 0;
    border-bottom: 1px solid lightslategrey;
    width: 45%;
}
input:focus{
    outline: none;
    height: 1.5em;
    border-bottom: 1px solid blue;
}
canvas{
    position: relative;
    top: 15px;
    width: 95%;
    height: 550px;
    display: block;
    margin: auto;
}

